.carousel-content {
    display: block;
    background-color: #000;
    opacity: 0.6 !important;
    padding: 2%;
    border-radius: 0;
}

.card-image.especialidades {
    height: 200px;
}

.especialidades-descripcion {
    padding: 4%;

}

.card-panel.contacto {
    width: auto;
    height: 80px;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.promo i {
    color: #2196F3;
    font-size: 4rem;
    display: block;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
}

.brand-logo>img {
    max-width: 75%;
    height: auto;
    overflow: hidden;
    margin-top: 6%;

}
a#logo-container{
    max-height: 75px;
}
.galeria-item {
    margin-bottom: 20px;
    /*width:300px;*/
    /*height:300px;*/
    /*overflow: hidden;*/
}

.default_color {
    background-color: #212121 !important;
}

.footer {
    background-color: #212121 !important;
}

li a{

    font-variant: small-caps;

}

body{
    font-variant: small-caps;
}
i{
    font-variant:normal;
}
li.active a{
    color:#ffeb3b;
    font-weight: bold;

}
.logo-footer.responsive-img {
    max-width: 50%;
    height: auto;
}
.chi_siamo#intro{
    padding-top:5px;
}

.redonda{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    height:50%;
    width:50%;
    border:solid 1px black;
}
.servizio{

    max-height:198px;
}
.servizio-card{
    max-height: 308px;
}
.hidden{
    display: none;
}



.materialbox-caption {
    position: fixed;
    display: none;
    color: #fff;
    line-height: 22px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: -1% 15%;
    height: auto;
    z-index: 1000;
    -webkit-font-smoothing: antialiased;
}
.card .card-content .card-title {
    line-height: 35px;
}

.breadcrumbs, .breadcrumbs a{
    background: #fff;
    font-weight:300;
    padding:15px;
    color: #000;
}

a.breadcrumb.active{
    color: #000;
    /*text-decoration: underline;*/
    font-weight:500;


}
/*.ribbon-span {*/
    /*font-size: 10px;*/
    /*font-weight: bold;*/
    /*color: #FFF;*/
    /*text-transform: uppercase;*/
    /*text-align: center;*/
    /*line-height: 20px;*/
    /*transform: rotate(45deg);*/
    /*width: 100px;*/
    /*display: block;*/
    /*background: #79A70A;*/
    /*background: linear-gradient(#A85489 0%, #82416A 100%);*/
    /*box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);*/
    /*position: absolute;*/
    /*top: 19px;*/
    /*right: -21px;*/
/*}*/
/*.ribbon{*/
    /*position: absolute;*/
    /*right: -5px;*/
    /*top: -5px;*/
    /*z-index: 1;*/
    /*overflow: hidden;*/
    /*width: 75px;*/
    /*height: 75px;*/
    /*text-align: right;*/
/*}*/